body {
    background-color: lightgray;
}

.backbox {
    background-color: white;
    width: 30%;
    margin: 0 600px;
    padding: 60px 0px 60px 120px;
    color: #666666;
    font-family: "Abyssinica SIL";
    border-radius: 3px;
}

input {
    display: block;
    margin: 10px 0 40px 0;
    width: 400px;
    height: 40px;
    border-radius: 4px;
}

input:focus {
    outline-color: lime;
}

.password {
    margin-bottom: 3px;
    background: url('https://img.icons8.com/windows/32/000000/visible.png') no-repeat right center;
}

p {
    font-size: 17px;
    position: relative;
    padding-left: 270px;
}

h1 {
    margin-bottom: 50px;
}

button {
    background-color: #222222;
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 30px;
}