<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h2>Edit translation</h2>
<form th:action="@{/suggest/{id} (id=(${myword.getId()}))}" th:object="${myword}" th:method="post">
    <label for="hun">Hungarian</label>
    <input id="hun" type="text" th:field="*{hungarian}">
    <label for="czech">Czech</label>
    <input id="czech" type="text" th:field="*{czech}">
    <button type="submit">Save</button>
</form>
</body>
</html>