<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <h1>Login</h1>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <form method="post" th:action="@{/login}">
            <label for="register">Username</label>
            <input id="register" type="text" name="username"><br>
            <label for="pwd">Password</label>
            <input id="pwd" type="password" name="password"><br>
            <button type="submit" class="btn btn-warning">Log in</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <p th:if="${warn}" style="color:red" class="error">Wrong user or password</p>
    </div>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>