<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <h1>Register</h1>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <form method="post" th:action="@{/register}" th:object="${register}">
            <label for="register">Username</label>
            <input id="register" type="text" th:field="*{username}"><br>
            <label for="pwd">Password</label>
            <input id="pwd" type="password" th:field="*{password}"><br>
            <button type="submit" class="btn btn-warning justify-content-center">Register</button>
        </form>
    </div>
</div>

<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>